body {
    background: grey;
margin: 0;
}
header {
padding: 10px;
    background: white;
    margin-bottom: 30px;
}
header h1{
    margin: 0;
    text-align: center;
    

}
.post-header h2 {

padding-left: 25px;
}

div.post .post-header div:first-child 
{display: inline-block;
    background: white;
    width: 80%;
    
}

div.post .post-header div:last-child { 
    display: inline-block;
  width: 10%;


  background: red;

}

img { width: 640px;
height: 320px;}


div.post{
    background: white;
    width: 100%;
    margin-top: 50px;

}

div.container {
    width: 640px;
    margin: auto;
    padding-bottom: 30px;
}
.textos {padding: 20px;
font-size: 20px;}

